<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectycube.flutter.connectycube_flutter_call_kit">
    <application>
        <receiver android:name=".EventReceiver" />
        <activity
            android:name=".IncomingCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:screenOrientation="sensorPortrait"
            android:taskAffinity="com.connectycube.flutter.connectycube_flutter_call_kit.INCOMING_CALL_AFFINITY"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:showOnLockScreen="true"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
</manifest>
